<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Chat</title>
</head>

<script src="js/socket.io.js"></script>
<script src="js/show-messages.js"></script>
<script src="js/search.js"></script>

<p id="onLoadedMessages" hidden><%= onLoadedMessages %></p>
<body onload="afterPageLoad();">
    <div class="everything">
        <div id="sidebar" class="sidebar">
            <p class="msg-text">Messages</p>
            <div class="search">
                <input type="text" id="search" placeholder="Search" oninput="search()">
            </div>
            <div class="chat-container">
                <p class="chat-username">John Dough</p>
                <p class="chat-last-message">You: Hello</p>
            </div>
            <div class="chat-container">
                <p class="chat-username">John Dough</p>
                <p class="chat-last-message">You: Hello</p>
            </div>
        </div>
        <div class="mid-container">
            <div id="messages" class="messages"></div>
            <div class="send">
                <form action="" id="send">
                    <input type="hidden" id="ownUsername" value="<%=ownUsername%>">
                    <input type="text" class="message-input" id="message">
                    <br>
                    <button type="submit" class="btn btn-primary continue-btn">Send</button>
                </form> 
            </div>
        </div>
    </div>
</body>
</html>