body, html {
    background-color:rgb(44, 44, 44);
}

.big-text {
    color: white;
    font-size: 1.875rem;
}

.mid-container {
    background-color: rgb(44, 44, 44);
    padding-left: 50rem;
    padding-top: 15.625rem;
}

.username-input {
    margin-top: 2.5rem;
    width: 17.5rem;
}

.continue-btn {
    margin-left: 5.625rem;
    margin-top: 3.125rem;
}

.message-input {
    width: 17.5rem;
}

.messages {
    margin-top: -6.25rem;
    height: 37.5rem;
    margin-left: -18.75rem;
    margin-right: 37.5rem;
}

.message {
    margin-top: 1.25rem;
    height: 3.75rem;
}

.left {
    border-radius: 3.125rem;
    border: 2px solid rgb(21, 255, 0);
    background-color: rgb(21, 255, 0);
    margin-left: 1.25rem;
    margin-right: 31.25rem;
}

.right {
    border-radius: 3.125rem;
    border: 2px solid rgb(0, 183, 255);
    background-color: rgb(0, 183, 255);
    margin-right: 1.25rem;
    margin-left: 31.25rem;
}

.username {
    margin-top: 0.313rem;
    margin-left: 1.25rem;
    font-size: 1rem;
    font-weight: bold;
}

.message-content {
    margin-top: -1.25rem;
    margin-left: 1.25rem;
    font-size: 1rem;
}